{% load static %}

<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>کلینیک پوست و موی زیبایی رویال | {% block title %}{% endblock title %}</title>

    {% block meta_description %}
    <!-- این مقدار پیش‌فرضه، می‌تونه خالی باشه یا یه چیز عمومی -->
    <meta name="description" content="کلینیک لیزر،زیبایی و لاغری رویال ارائه‌دهنده خدمات درمانی مدرن.">
    {% endblock %}

    {% block meta_keywords %}{% endblock meta_keywords %}

    {% block meta_og %}{% endblock meta_og %}

    {% block extra_schema %}{% endblock extra_schema %}
    
    
    <link rel="stylesheet" href="{% static 'tailwind/output.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    

    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="{% static "css/index.css" %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


    {% block extra_css %}{% endblock extra_css %}
    {% block extra_head %}{% endblock %}

</head>


    <body class="bg-gray-50">
        {% include "partials/header.html" with type=1 %}
        
        {% include "partials/messages.html" %}

        {% block content %}
        {% endblock content %}
    
        {% include "partials/footer.html" %}
        <script src="{% static 'js/myscript.js' %}"></script>
        {% block extra_js %}{% endblock extra_js %}

        <script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="5d6dc27b-5aa5-4012-b153-84b03621eb93";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>

    </body>

</html>