{% load static %}

<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>کلینیک پوست و موی زیبایی رویال | {% block title %}{% endblock title %}</title>
    
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="{% static "css/index.css" %}">

    {% block extra_css %}{% endblock extra_css %}
    
    
    
    
</head>


    <body class="bg-gray-50">
        {% include "partials/header.html" %}
        {% include "partials/messages.html" %}

        {% block content %}
        {% endblock content %}
    
        {% include "partials/footer.html" %}
        <script src="{% static 'js/myscript.js' %}"></script>

    </body>

</html>