.text-amber-900 {
    --tw-text-opacity: 1;
    color: rgb(0, 0, 0);
  }

.appointment-btn {
    background:
  linear-gradient(45deg, rgb(75, 154, 80), rgb(75, 154, 80));
    transition:
  all 0.3s ease;
  }

  /* ------------------------------------------------------------------------------- */
  /* service detail */
