 @import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100;200;300;400;500;600;700;800;900&display=swap');
        
body {
    font-family: 'Vazirmatn', sans-serif;
    background-color: #f8f9fa;
}
.medical_history_image {
    border-radius: 50%;
}

.patient-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.search-input:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(236, 72, 153, 0.3);
}

.search-button {
    background-color: pink;
    margin-top: 11px;
}