

        .user-idea {
            margin-top: -77px;
            border: 1px solid #ccc; 
            float: left;
            resize: both;
        }

        input::placeholder, textarea::placeholder {
          opacity: 1;
          color: #0000006e;
        }

        .star {
            font-size: 2rem;
            color: #ccc;
            cursor: pointer;
            transition: color 0.2s ease-in-out;
        }

        .star.hovered,
        .star.selected {
            color: gold;
        }

        .your-score {
            float: left;
        }

    