
{% comment %} if this is a parioal that is rendered in an other template and you wanna see messages after form submission, dont forget to clarify in action the address of the related view {% endcomment %}
<div class="md:w-1/2 p-8 md:p-12">
    <h3 class="text-2xl font-bold text-gray-800 mb-6">ارسال پیام</h3>
    <form method="post" action="{% url 'contact:user_public_message' %}">
        {% csrf_token %}
        
        {{contact_form}}

        <button type="submit" class="bg-amber-600 text-white py-3 px-6 rounded-lg font-bold hover:bg-amber-700 transition duration-300">
            ارسال پیام
        </button>

    </form>
</div>