{% extends "main_login.html" %}

{% block title %}بازیابی رمز عبور{% endblock title %}

{% block meta_description %}
<meta name="description" content="رمز عبور خود را در کلینیک رویال به راحتی تغییر دهید. در صورت فراموشی، بازیابی سریع و ایمن رمز عبور را تجربه کنید.">
<meta name="robots" content="noindex, nofollow" />
{% endblock %}

{% block extra_head %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebPage",
  "name": "تغییر رمز عبور - کلینیک رویال",
  "description": "تغییر امن و سریع رمز عبور در کلینیک تخصصی رویال",
  "url": "http://localhost:8000/accounts/changepass/"
  
}
</script>
{% endblock extra_head %}


{% block content %}
    <div class="min-h-screen flex flex-col items-center justify-center p-4">
        <!-- Logo Section -->
        <div class="clinic-header">
            <div class="clinic-logo">
                <img src="{{ media_url }}images/index/IMG-20240528-WA0012.jpg" alt="index-icon">
            </div>
            <h2 class="clinic-title">کلینیک رویال</h2>
        </div>

        <!-- Password Reset Container -->
        <div class="w-full max-w-md bg-white rounded-lg shadow-md overflow-hidden">
            <div class="p-8">
                <div class="login-header text-center mb-6">
                    <h1 class="text-2xl font-bold text-gray-800">تغییر رمز عبور</h1>
                    <p class="text-gray-600 mt-2">لطفا رمز جدید خود را وارد کنید</p>
                </div>

                <div class="login-form">
                  
                    <form method="post">
                        {% csrf_token %}
                        
                        
                        {{form}}

                        <button type="submit" class="login-btn">
                            <i class="fas fa-sync-alt ml-2"></i>
                            تغییر رمز عبور
                        </button>
                    </form>

                    
                </div>
            </div>
        </div>
    </div>


{% endblock content %}