{% extends "main_login.html" %}

{% block title %}تاییدد شماره موبایل{% endblock title %}

{% block content %}
    <div class="min-h-screen flex flex-col items-center justify-center p-4">
        <!-- Logo Section -->
        <div class="clinic-header">
            <div class="clinic-logo">
                <img src="{{ media_url }}images/index/IMG-20240528-WA0012.jpg" alt="index-icon">
            </div>
            <h2 class="clinic-title">کلینیک رویال</h2>
        </div>

        <!-- Password Reset Container -->
        <div class="w-full max-w-md bg-white rounded-lg shadow-md overflow-hidden">
            <div class="p-8">
                <div class="login-header text-center mb-6">
                    <h1 class="text-2xl font-bold text-gray-800">ارسال شماره موبایل جهت تغییر رمز عبور</h1>
                    <p class="text-gray-600 mt-2">لطفا شماره موبایل خود را وارد کنید</p>
                </div>

                <div class="login-form">
                    <form method="post">
                        {% csrf_token %}
                        
                        
                        <div class="form-group">
                            <label for="mobile">شماره موبایل</label>
                            <i class="fas fa-mobile-alt form-icon"></i>
                            
                            <div>
                                {{ form }}
                                
                            </div>
                        </div>

                        <button type="submit" class="login-btn">
                            <i class="fas fa-paper-plane ml-2"></i>
                            ارسال کد تایید
                        </button>
                    </form>

                    <div class="register-link">
                        حساب کاربری دارید؟ <a href="{% url 'account:login' %}">وارد شوید</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}