{% extends "main_login.html" %}

{% block content %}


<div class="min-h-screen flex flex-col items-center justify-center p-4">
    <!-- Logo Section -->
    <div class="clinic-header">
        <div class="clinic-logo">
            <img src="{{ media_url }}images/index/IMG-20240528-WA0012.jpg" alt="index-icon">
        </div>
        <h2 class="clinic-title">کلینیک رویال</h2>
    </div>
    
    
    <!-- Login Container -->
    <div class="w-full max-w-md bg-white rounded-lg shadow-md overflow-hidden">
        <div class="p-8">
            <div class="login-header text-center mb-6">
                <h1 class="text-2xl font-bold text-gray-800">ورود به حساب کاربری</h1>
                <p class="text-gray-600 mt-2">لطفا شماره موبایل و رمز عبور خود را وارد کنید</p>
            </div>
            
            <div class="login-form">
        

        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="mobile">شماره موبایل</label>
                <i class="fas fa-mobile-alt form-icon"></i>
                {% comment %} <input 
                    type="tel" 
                    id="mobile" 
                    class="form-control" 
                    placeholder="09123456789"
                    required
                > {% endcomment %}
                <div>
                    {{ form.mobile_number }}
                    {% for error in form.mobile_number.errors %}
                        <p class="text-red-500 text-sm mt-1">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
            
            <div class="form-group">
                <label for="password">رمز عبور</label>
                <i class="fas fa-lock form-icon"></i>
                {% comment %} <input 
                    type="password" 
                    id="password" 
                    class="form-control" 
                    placeholder="رمز عبور خود را وارد کنید"
                    required
                > {% endcomment %}
                <div>
                    {{ form.password }}
                    {% for error in form.password.errors %}
                        <p class="text-red-500 text-sm mt-1">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
            
            <div class="remember-forgot">
                <div class="remember-me">
                    <input type="checkbox" id="remember">
                    <label for="remember">مرا به خاطر بسپار</label>
                </div>
                <a href="#" class="forgot-password">رمز عبور را فراموش کرده‌اید؟</a>
            </div>
            
            <button type="submit" class="login-btn">
                <i class="fas fa-sign-in-alt"></i>
                ورود به حساب
            </button>
            

            
            <div class="register-link">
                حساب کاربری ندارید؟ <a href="{% url "account:register" %}">ثبت نام کنید</a>
            </div>
        </form>
    </div>
</div>
</div>
</div>
{% endblock content %}