{% extends "main_template.html" %}

{% load static %}

{% load render_partial %}

{% block title %}صفحه ی اصلی{% endblock title %}



{% block content %}
    
    
    <!-- Hero Slider -->
     <!-- Hero Slider -->
      
    <section class="relative h-screen overflow-hidden">
        <div class="relative h-full w-full">  
            
            {% if offers %}
            <div class="fixed left-4 bottom-6 z-50 bg-gradient-to-r from-red-600 to-yellow-500 text-white px-6 py-6 rounded-xl shadow-lg flex items-center justify-between animate-pulse space-x-4">
                <p class="text-sm font-bold">🎉 تخفیف ویژه: </p>
                <a href="{% url "services:show_discounts" %}" class="underline text-sm hover:text-yellow-100 transition duration-300">برای اطلاع از تخفیف‌ها کلیک کنید</a>
            </div>
            {% endif %}

                    
        {% for data in sliders %}
            
            <!-- Slider Item -->
            <div class="slider-item active h-full w-full flex items-center"
                 style="background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('{{ data.image_name.url }}') center/cover;">

                <div class="container mx-auto px-4 text-white">
                    {% if data.slider_title1 %}
                    <h2 class="text-4xl md:text-6xl font-bold mb-6">{{ data.slider_title1 }}</h2>
                    {% endif %}
                
                    {% if data.slider_title2 %}
                    <p class="text-xl md:text-2xl mb-4 max-w-2xl">{{ data.slider_title2 }}</p>
                    {% endif %}
                
                    {% if data.slider_title3 %}
                    <p class="text-lg md:text-xl mb-6 max-w-2xl">{{ data.slider_title3 }}</p>
                    {% endif %}
                
                    <a href="{{ data.slider_link|default:'#appointment' }}" class="appointment-btn text-amber-900 font-bold px-8 py-4 rounded-full inline-flex items-center">
                        <span>رزرو نوبت</span>
                        <i class="fas fa-arrow-left mr-2"></i>
                    </a>

                    
                    

                    
                </div>
            </div>
        {% endfor %}  
    </section>

    <!-- About Us -->
    <section id="about" class="py-16 bg-white">
        <div class="container mx-auto px-4">
            <div class="text-center mb-16">
                <h2 class="text-3xl md:text-4xl font-bold text-gray-800 mb-4"> {{data.heading}} </h2>
                <div class="w-20 h-1 bg-amber-500 mx-auto"></div>
            </div>
            {% for data in introduction %}
            <div class="flex flex-col md:flex-row items-center">
                <div class="md:w-1/2 mb-8 md:mb-0 md:pr-10">
                    <img src="{{media_url}}{{data.image}}" alt="کلینیک رویال" class=" shadow-xl w-full h-auto intro-image">
                </div>
                
                <div class="md:w-1/2">
                    <h3 class="text-2xl font-bold text-gray-800 mb-6"> {{data.title}} </h3>
                    <p class="text-gray-600 mb-6 leading-relaxed">
                        {% autoescape off %}
                        {{data.introduction}}
                        {% endautoescape %}
                    </p>
                    
                    <div class="flex flex-wrap gap-4">
                        {% for p in data.propertiess.all %}
                        <div class="flex items-center bg-amber-50 px-4 py-2 rounded-full">
                            <i class="fas fa-check-circle text-amber-600 mr-2"></i>
                            <span class="text-gray-700"> {{p.name}} </span>
                        </div>
                        {% endfor %}
                        
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>

    <!-- servicess -->
 <section id="services" class="py-16 bg-gray-50">
    <div class="container mx-auto px-4">
        <div class="text-center mb-16">
            <h2 class="text-3xl md:text-4xl font-bold text-gray-800 mb-4">خدمات تخصصی ما</h2>
            <p class="text-gray-600 max-w-2xl mx-auto">با بهره‌گیری از جدیدترین متدهای روز دنیا، زیباترین نتایج را برای شما به ارمغان می‌آوریم</p>
            <div class="relative max-w-2xl mx-auto mt-4">
                <div class="h-1 bg-green-500 w-full"></div>
                <a href="{% url "services:all_services" %}"
                   class="absolute right-0 bg-green-500 text-white px-4 py-1 rounded text-sm hover:bg-green-600">
                  نمایش همه
                </a> 
              </div>
        </div>
        
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">


   {% render_partial "services:show_all_active_services" %}

</div>
</div>
</section>




      <!-- videos -->
        <section id="services" class="py-16 bg-gray-50">
           <div class="container mx-auto px-4">
               <div class="text-center mb-16">
                   <h2 class="text-3xl md:text-4xl font-bold text-gray-800 mb-4">ویدئو های ما</h2>
                   <p class="text-gray-600 max-w-2xl mx-auto">با بهره‌گیری از جدیدترین متدهای روز دنیا، زیباترین نتایج را برای شما به ارمغان می‌آوریم</p>
                   <div class="relative max-w-2xl mx-auto mt-4">
                       <div class="h-1 bg-green-500 w-full"></div>
                       <a href="{% url "gallery:videos_all" %}"
                          class="absolute right-0 bg-green-500 text-white px-4 py-1 rounded text-sm hover:bg-green-600">
                         نمایش همه
                       </a> 
                    </div>
               </div>
               
               <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
          {% render_partial "gallery:videos" %}
               </div>
           </div>
        </section>




    
    <!-- Doctors -->
    <section id="doctors" class="py-16 bg-white">
        <div class="container mx-auto px-4">
            
            <div class="text-center mb-16">
              <h2 class="text-3xl md:text-4xl font-bold text-gray-800 mb-4">پزشکان متخصص ما</h2>
              <p class="text-gray-600 max-w-2xl mx-auto">تیم متخصص و با تجربه کلینیک رویال با دانش به روز و مهارت بالا در خدمت شماست</p>
                        
              <div class="relative max-w-2xl mx-auto mt-4">
                <div class="h-1 bg-green-500 w-full"></div>
                <a href="{% url "personel:personels" %}"
                   class="absolute right-0 bg-green-500 text-white px-4 py-1 rounded text-sm hover:bg-green-600">
                  نمایش همه
                </a>
              </div>
            </div>

            
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
                
                {% render_partial "personel:personel" %}
            </div>
            
        </div>
    </section>



    <!-- Testimonials -->
    <section class="py-16 bg-gray-50">
        <div class="container mx-auto px-4">
            <div class="text-center mb-16">
                <h2 class="text-3xl md:text-4xl font-bold text-gray-800 mb-4">نظرات مراجعین</h2>
                <p class="text-gray-600 max-w-2xl mx-auto">آنچه بیماران ما درباره تجربه‌شان در کلینیک رویال می‌گویند</p>
                

                <div class="relative max-w-2xl mx-auto mt-4">
                       <div class="h-1 bg-green-500 w-full"></div>
                       <a href="{% url "csf:users_ideas" %}"
                          class="absolute right-0 bg-green-500 text-white px-4 py-1 rounded text-sm hover:bg-green-600">
                         نمایش همه
                       </a> 
                    </div>

            </div>
            
            <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
                
                {% for data in scores_and_ideas %}
                    <div class="bg-white p-8 rounded-lg shadow-md">
                        <div class="flex items-center mb-4">
                            {% for i in "12345" %}
                                {% if forloop.counter <= data.score %}
                                    <div class="text-amber-500 text-2xl mr-2">★</div>
                                {% else %}
                                    <div class="text-gray-300 text-2xl mr-2">★</div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <p class="text-gray-600 mb-6">{{ data.idea }}</p>
                        <div class="flex items-center">

                            {% if data.user.patient and data.user.patient.image_name %}
                                <img src="{{ data.user.patient.image_name.url }}" alt="{{ data.user.get_full_name }}" class="w-12 h-12 rounded-full mr-4">
                            {% else %}
                                <img src="{{ media_url }}images/comments/user.png" alt="user-comment" class="w-12 h-12 rounded-full mr-4">
                            {% endif %}

                            <div>
                                <h4 class="font-bold text-gray-800">{{ data.user.get_full_name }}</h4>
                                <p class="text-gray-500 text-sm">{{ data.service.service_title }}</p>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <p>هنوز نظری ثبت نشده است.</p>
                {% endfor %}

                    

            </div>
        </div>
    </section>

    
    <!-- Appointment -->
    <section id="appointment" class="py-16 bg-white">
        <div class="container mx-auto px-4">
            <div class="max-w-4xl mx-auto bg-gradient-to-r from-amber-50 to-amber-100 rounded-xl shadow-lg overflow-hidden">
                <div class="md:flex">
                    <div class="md:w-1/2 p-8 md:p-12 flex flex-col justify-center">
                        <h2 class="text-3xl font-bold text-gray-800 mb-4">رزرو نوبت آنلاین</h2>
                        <p class="text-gray-600 mb-6">
                            برای رزرو نوبت در کلینیک پوست و موی زیبایی رویال، فرم مقابل را پر کنید. همکاران ما در اسرع وقت با شما تماس خواهند گرفت.
                        </p>
                        {% for data in contacts %}

                        <div class="flex items-center mb-2">
                            <i class="fas fa-phone text-amber-600 mr-3"></i>
                            <span class="text-gray-700">{{data.mobile_number1}}</span>
                        </div>
                        <div class="flex items-center mb-2">
                            <i class="fas fa-phone text-amber-600 mr-3"></i>
                            <span class="text-gray-700">{{data.mobile_number2}}</span>
                        </div>

                        <div class="flex items-center mb-2">
                            <i class="fas fa-envelope text-amber-600 mr-3"></i>
                            <span class="text-gray-700">{{data.email1}}</span>
                        </div>
                        <div class="flex items-center mb-2">
                            <i class="fas fa-envelope text-amber-600 mr-3"></i>
                            <span class="text-gray-700">{{data.email2}}</span>
                        </div>
                        

                        <div class="flex items-center">
                            <i class="fas fa-map-marker-alt text-amber-600 mr-3"></i>
                            <span class="text-gray-700">{{data.address}}</span>
                        </div>
                    </div>
                    {% endfor %}

                    {% render_partial "reservation:reserve" %}

                </div>
            </div>
        </div>
    </section>

    <!-- Contact -->
    <section id="contact" class="py-16 bg-gray-50">
        <div class="container mx-auto px-4">
            <div class="text-center mb-16">
                <h2 class="text-3xl md:text-4xl font-bold text-gray-800 mb-4">تماس با ما</h2>
                <p class="text-gray-600 max-w-2xl mx-auto">برای دریافت مشاوره رایگان و پاسخ به سوالات شما در خدمتیم</p>
                <div class="w-20 h-1 bg-amber-500 mx-auto mt-4"></div>
            </div>


                {% render_partial "contact:show_contacts" %}


            <div class="mt-16 bg-white rounded-lg shadow-md overflow-hidden">
                <div class="md:flex">


                    <div class="md:w-1/2">
                        <iframe 
                            src="https://maps.google.com/maps?q=31.30479652634742,48.72978825439569&hl=fa&z=16&output=embed" 
                            width="100%" 
                            height="400" 
                            style="border:0;" 
                            allowfullscreen="" 
                            loading="lazy">
                        </iframe>

                        <div class="text-center mt-4">
                            <a href="https://www.google.com/maps/dir/?api=1&destination=31.30479652634742,48.72978825439569" 
                               target="_blank" 
                               class="inline-block bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700">
                                مسیریابی به کلینیک
                            </a>
                        </div>
                        

                    </div>
                    

                    {% render_partial "contact:user_public_message" %}
                   

                </div>
            </div>
        </div>
    </section>

{% endblock content %}