

{% if service_procedures %}
<h2 class="text-3xl font-bold text-gray-800 mb-6">مراحل {{service.service_title}}</h2>
{% endif %}

{% for procedure in service_procedures %}
<div class="procedure-step">
    <div class="flex items-start">
        <div class="bg-amber-600 text-white w-10 h-10 rounded-full flex items-center justify-center flex-shrink-0 mr-4">
            
            <span class="font-bold">{{forloop.counter}}</span>
        </div>
        
        <div>
            
            <h3 class="text-xl font-bold text-gray-800 mb-2">{{procedure.process_name}}</h3>
            <p class="text-gray-800">
                 {{procedure.process}}
            </p>
        </div>
    </div>
</div>
{% endfor %}
