{% extends "main_template.html" %}
{% load render_partial %}
{% block title %}نتیجه جست و جوی شما{% endblock title %}

{% block content %}

{% comment %} اگه کالایی پیدا کرد نشون میده اگه نه میگه نه {% endcomment %}

{% if services %}
    <div class="">
        <div class="container">
            <h2 style="text-align: center;">نتیجه جست و جوی شما</h2>
            <div class="product-flexbox">
                
                    {% include "services/partials/sevices.html" %}
                
            </div>
        </div>
    </div>
{% else %}
    <div class="container" style="padding: 100px;">
        <h3 style="text-align: center; color:red;">خدماتی با این مشخصات یافت نشد</h3>
    </div>
{% endif %}



{% endblock content %}